@tailwind base;

@tailwind components;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f56565;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind utilities;
