@tailwind base;

@tailwind components;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f56565;
}

@font-face {
  font-family: "Questrial";
  src: url("./Questrial-Regular.ttf") format("truetype");
}

.gradient-bg {
  background: linear-gradient(
    20deg,
    rgba(205, 205, 205, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
}
.gradient-bg-card {
  background: linear-gradient(
    20deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
}
.gradient-bg-orange {
  background: rgb(255, 232, 212);
  background: linear-gradient(
    10deg,
    rgba(255, 232, 212, 1) 0%,
    rgba(255, 243, 233, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
}

@tailwind utilities;
