@tailwind base;

@tailwind components;

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(136, 136, 136, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f56565;
}

@font-face {
  font-family: "Questrial";
  src: url("./Questrial-Regular.ttf") format("truetype");
}

.gradient-bg {
  background: linear-gradient(
    20deg,
    rgba(205, 205, 205, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
}

.gradient-bg-card {
  background: linear-gradient(
    20deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(230, 230, 230, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
}

.gradient-bg-orange {
  background: rgb(255, 232, 212);
  background: linear-gradient(
    10deg,
    rgba(255, 232, 212, 1) 0%,
    rgba(255, 243, 233, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
}

.anim-fadein {
  opacity: 0;

  -webkit-animation-name: slideNav;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;

  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@tailwind utilities;
